#grid-container{
    display: flex;
    flex-direction: column;
    flex: wrap;
    
}
.column{
    display: flex;
    background-color:aliceblue;
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.cell{
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    flex-direction: row;
    background-color:aqua;
}

